<div class="container">
  <h1>Check Password Strength</h1>

  <div class="form-wrap">
    <div class="form" [formGroup]="form">
      <div class="form-control">
        <label>Password</label>
        <input class="form-control"
               placeholder="Password"
               type="password"
               formControlName="password"
        >
        <div class="password-strength"
             [ngClass]="{
                'minlength': !!form.get('password')?.errors?.['minlength'],
                'easy': !!form.get('password')?.hasError('easy'),
                'medium': !!form.get('password')?.hasError('medium'),
                'strong': !!form.get('password')?.valid
             }"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <button class="btn" type="button"
              [disabled]="form.invalid"
              (click)="submitPswForm()">
        Submit
      </button>
    </div>
  </div>
</div>
